{{!--
If the template in question has a background image, then we render responsive image styles
for it, and apply those styles to the <header> tag.
--}}

{{#if background}}
{{#contentFor "herobackground"}}
<style>
  .m-hero__picture {
    background-image: url({{img_url background size='xl'}});
  }

  @media(max-width: 1000px) {
    .m-hero__picture {
      background-image: url({{img_url background size='xl'}});
    }
  }

  @media(max-width: 600px) {
    .m-hero__picture {
      background-image: url({{img_url background size='xl'}});
    }
  }

  .m-hero__picture.in-post {
     background-image: url({{img_url background size='xl'}}) !important;
  }
</style>
{{/contentFor}}
<section class="m-hero with-picture" data-aos="fade">
  <div class="m-hero__picture {{#is "post"}}in-post{{/is}}"></div>
  {{#is "post"}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title in-post">{{title}}</h1>
    <div class="m-heading__meta">
      {{#if primary_tag}}
      <a href="{{primary_tag.url}}" class="m-heading__meta__tag">{{primary_tag.name}}</a>
      <span class="m-heading__meta__divider">&bull;</span>
      {{/if}}
      <span class="m-heading__meta__time">{{date published_at}}</span>
    </div>
  </div>
  {{/is}}
  {{else}}
  <section class="m-hero no-picture {{#is "post"}}in-post{{/is}}" data-aos="fade">
    {{/if}}