{{!< default}} {{#post}} <article class="article {{post_class}}">

    <header class="header">
        <h1 class="title">{{title}}</h1>
        <span class="post-meta">
            <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            <span class="bull">&bull;</span> by {{#foreach authors}}<span class="author">{{name}}</span>{{/foreach}}
        </span>

        {{> "socials"}}

    </header>

    <div class="content canvas">
        {{content}}
    </div>

    </article>

    <nav class="readmore">
        <div class="readmore-inner container">
            <div class="readmore-next">
                {{#next_post}}<a href="{{url}}">
                    <span class="arrow-left"></span>{{> "icons/arrow-left"}}</span>
                    <h5>{{title}}</h4>
                    </a>{{/next_post}}
            </div>
            <div class="readmore-prev">
                {{#prev_post}}<a href="{{url}}">
                    <h5>{{title}}</h4> 
                    <span class="arrow-right">{{> "icons/arrow-right"}}</span>
                </a>{{/prev_post}}
            </div>
        </div>
    </nav>

    {{/post}}