<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}

</head>

<body class="{{body_class}}">

{{> "header"}}

    <main class="main subscription-page">
        {{^if success}}
        <div class="subscription">
            <form class="signup-form" data-members-form="subscribe">
                <header class="subscribe-message">
                    <h1 class="title">{{t "Subscribe to"}} {{@site.title}}</h1>
                    <p class="message">
                        {{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox."}}
                    </p>
                </header>
                <fieldset>
                    <input data-members-email type="email" placeholder="Type your email..." required="true"
                        autocomplete="false" class="m-input in-subscribe-section" />
                    <button class="m-button outlined" type="submit">
                        <span class="button-content">Subscribe</span>
                    </button>
                </fieldset>
                <div class="message-success message"><strong>Great!</strong> Check your inbox and click the link to confirm
                    your subscription</div>
                <div class="message-error message">Please enter a valid email address!</div>
            </form>
        </div>
        {{else}}
        <div class="subscription-successful">
            <header class="subscribe-message">
                <h1 class="title">{{t "Subscribed!"}}</h1>
                <p class="message">
                    {{t "You've successfully subscribed to"}} <strong>{{@site.title}}</strong> {{t "with the email
                    address"}} <strong>{{email}}</strong>
                </p>
            </header>
        </div>
        {{/if}}

    </main>

{{> "footer"}}

    {{!-- <foot> --}}
        {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>